<p id="notice"><%= notice %></p>
<div class="wanted">
<h1>Wishlist</h1>

<table>
  <tbody>
    <% @wantedBooks.each do |book| %>
      <tr class="inline-block">
        <td class="inline-block"><%= image_tag book.image.url %></td>
        <td class="break"><%= book.title %></td>
        <td class="break"><%= book.author %></td>
        <td class="break" id="button"><%= link_to 'Show', book %></td>
        <td class="break" id="button"><%= link_to 'Edit', edit_book_path(book) %></td>
        <td class="break" id="button"><%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="owned">
<h1>Books I Own</h1>

<table>
<tbody>
  <% @ownedBooks.each do |book| %>
    <tr class="inline-block">
      <td><%= image_tag book.image.url %></td>
      <td class="break"><%= book.title %></td>
      <td class="break"><%= book.author %></td>
      <td class="break" id="button"><%= link_to 'Show', book %></td>
      <td class="break" id="button"><%= link_to 'Edit', edit_book_path(book) %></td>
      <td class="break" id="button"><%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>
</div>

<br>

<div id="button">
  <%= link_to 'New Book', new_book_path %>
</div>
